.container{
    display: flex;
    flex-direction: row;


}

.containerleft{
    display: flex;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 40vw;
    position: relative;
    z-index:-1;
    
}

@font-face {
    font-family: odin;
    src: url(fonts/Norse-Bold.otf);
}

#logotext{
    font-family: odin, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 5rem;
    position: relative;
    top: 5px;

}

#logo{
    width: 100px;
    height: 100px;

}

#logocontainer{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30%;
    width: 100%

}


.logobackground{
    background: black;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:-1;
    
}

.containerright{
    display: flex;
    flex-direction: row;
}

.containertext{
    margin-top: 100px;
    margin-left: 30px;
}

#text{

}

#text2{
    padding-top: 20px;
}